* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.areaLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 100px;
}

.body-content {
    min-height: 100%;
    position: relative;
}

.direitos {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.home {
    padding: 50px;
}

body {
    background-color: #f3f3f3;
}